[submodule "libs"]
	path = libs
	url = https://github.com/TUST-Open-Source-Club/oa-libs.git
[submodule "services/auth"]
	path = services/auth
	url = https://github.com/TUST-Open-Source-Club/oa-auth.git
[submodule "services/im"]
	path = services/im
	url = https://github.com/TUST-Open-Source-Club/oa-im.git
[submodule "services/task"]
	path = services/task
	url = https://github.com/TUST-Open-Source-Club/oa-task.git
[submodule "services/doc"]
	path = services/doc
	url = https://github.com/TUST-Open-Source-Club/oa-doc.git
[submodule "services/meeting"]
	path = services/meeting
	url = https://github.com/TUST-Open-Source-Club/oa-meeting.git
[submodule "services/event"]
	path = services/event
	url = https://github.com/TUST-Open-Source-Club/oa-event.git
[submodule "services/drive"]
	path = services/drive
	url = https://github.com/TUST-Open-Source-Club/oa-drive.git
[submodule "services/notify"]
	path = services/notify
	url = https://github.com/TUST-Open-Source-Club/oa-notify.git
[submodule "apps/web"]
	path = apps/web
	url = https://github.com/TUST-Open-Source-Club/oa-web.git
[submodule "apps/app"]
	path = apps/app
	url = https://github.com/TUST-Open-Source-Club/oa-app.git
[submodule "packages"]
	path = packages
	url = https://github.com/TUST-Open-Source-Club/oa-fe-libs.git
